@using IleriWeb.Web.Helpers
@{
	
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IleriWeb.Web</title>


	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="~/CommerceAssets/css/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="~/CommerceAssets/css/slick.css" />
	<link type="text/css" rel="stylesheet" href="~/CommerceAssets/css/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="~/CommerceAssets/css/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="~/CommerceAssets/css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="~/CommerceAssets/css/style.css" />

	<link rel="stylesheet" href="~/css/chat.css">

  
</head>
<body>
   


	<!-- HEADER -->
	<header>

		
		
		<!-- MAIN HEADER -->
		<div id="header">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- LOGO -->
					<div class="col-md-3">
						<div class="header-logo">
							<a href="/Home" class="logo">
								<img src="~/CommerceAssets/img/logo.png" alt="">
							</a>
						</div>
					</div>
					<!-- /LOGO -->
					<!-- Space -->
					<div class="col-md-5">
						
					</div>
					
					@await Component.InvokeAsync("UserButtons")

					
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- /MAIN HEADER -->
	</header>
	<!-- /HEADER -->
	<!-- NAVIGATION -->
	<nav id="navigation">
		<!-- container -->
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!-- NAV -->
				<ul class="main-nav nav navbar-nav">
				<li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
				<li><a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a></li>
				<li><a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a></li>
				<li><a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a></li>


					@await Component.InvokeAsync("Chat")

					


				<li class="nav-item dropdown ml-auto">
					<a class="nav-link dropdown-toggle" href="#" id="currencyDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Choose Currency
					</a>
					<div class="dropdown-menu dropdown-menu-right mt-4" aria-labelledby="currencyDropdown">
						<div class="px-4 py-3 dropdown-content" onclick="event.stopPropagation();"> <!-- Propagation engellendi -->
							<label for="currency" class="form-label">Currency:</label>
							<select id="currency" name="currency" class="custom-select mb-3">
								<option value="1">USD</option>
								<option value="2">EUR</option>
								<option value="3">TRY</option>
							</select>
							<button type="button" class="btn btn-danger btn-block" onclick="sendCurrencyRate()">Change</button>
						</div>
					</div>
				</li>
			</ul>

			<!-- /NAV -->

			<script>
				function sendCurrencyRate() {
					// Seçilen currency değeri alınır.
					var currency = document.getElementById('currency').value;

					// URL'ye currency değerini ekleyerek yönlendirilir.
					window.location.href = '/Currency/SendCurrencyRate/' + currency;
				}
			</script>
				
				
			</div>
			<!-- /responsive-nav -->
		</div>
		<!-- /container -->
	</nav>
	<!-- /NAVIGATION -->


   
        
            @RenderBody()
       
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - IleriWeb.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script  type="module" src="~/js/site.js?v=1.0" asp-append-version="true"></script>
	
    @await RenderSectionAsync("Scripts", required: false)
	<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.12/signalr.min.js"></script>

	<script type="module" src="/js/chat.js"></script>


</body>
</html>
