<div class="col-md-3 clearfix">
	<div class="header-ctn">
		<div>

			<a asp-area="" asp-controller="Home" asp-action="Index">
				<i class="fa fa-home"></i>
				Website
			</a>

		</div>

		<div>

			<a asp-area="" asp-controller="User" asp-action="Logout">
				<i class="fa fa-sign-in"></i>
				Logout
			</a>
		</div>
	</div>
</div>