

<div id="chat-widget" class="chat-widget ">

    

    <div class="chat-header" onclick="toggleChat()">
        <span>Chat</span>
        <span class="chat-toggle-icon">+</span>
    </div>
    <div class="chat-body">
        <div id="chat-messages" class="chat-messages">
           

        </div>

        
        <div class="chat-input">
            <form id="chat-form">
                <textarea type="text" id="chat-message-input" name="content" required placeholder="Type your message..."></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</div>
