
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IleriWeb.Web</title>


	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="~/CommerceAssets/css/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="~/CommerceAssets/css/slick.css" />
	<link type="text/css" rel="stylesheet" href="~/CommerceAssets/css/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="~/CommerceAssets/css/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="~/CommerceAssets/css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="~/CommerceAssets/css/style.css" />


  
</head>
<body>
   


	<!-- HEADER -->
	<header>

		
		
		<!-- MAIN HEADER -->
		<div id="header">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- LOGO -->
					<div class="col-md-3">
						<div class="header-logo">
							<a href="/Home" class="logo">
								<h2 style="color:white">ADMIN PANEL</h2>
							</a>
						</div>
					</div>

					<!-- Space -->
					<div class="col-md-5">
						
					</div>
					
					@await Component.InvokeAsync("AdminButtons")
					
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- /MAIN HEADER -->
	</header>
	<!-- /HEADER -->
	<!-- NAVIGATION -->
	<nav id="navigation">
		<!-- container -->
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!-- NAV -->
				<ul class="main-nav nav navbar-nav">
					<li ><a class="nav-link text-dark" asp-area="admin" asp-controller="Products" asp-action="Index">Products</a></li>
					
					<li><a class="nav-link text-dark" asp-area="admin" asp-controller="Category" asp-action="Index">Categories</a></li>

				</ul>
				<!-- /NAV -->
			</div>
			<!-- /responsive-nav -->
		</div>
		<!-- /container -->
	</nav>
	<!-- /NAVIGATION -->
	

	
		<div class="container">
		@RenderBody()
		</div>
        
            
       
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - IleriWeb.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
